<div class="container-md">
    <h3>Edit Post</h3>
    <form [formGroup]="form" (ngSubmit)="update()"> 
        <div class="form-group mb-3">
            <label for="title" class="form-label">Title</label>
            <input
            formControlName="title"
            type="text"
            class="form-control"
            id="title">
            <div *ngIf="form.controls['title'].touched && form.controls['title'].invalid" class="alert alert-danger">
                <div *ngIf="form.controls['title'].errors?.['required']">Title is required.</div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="albumId" class="form-label">AlbumId</label>
            <input
            formControlName="albumId"
            type="text"
            class="form-control"
            id="title">
            <div *ngIf="form.controls['albumId'].touched && form.controls['albumId'].invalid" class="alert alert-danger">
                <div *ngIf="form.controls['albumId'].errors?.['required']">AlbumId is required.</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Update</button> |
        <a routerLink="/posts" class="btn btn-primary">Back</a>
    </form>
</div>

